@model OzlemBilgisayar.MvcWebUI.Models.LatestMoviesVm
@{
    ViewBag.Title = "En yeni filmler";
}

<div class="container-fluid mb-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    Yeni Filmler (@Model.Movies.Count)
                </div>
                <div class="card-body">
                    <div class="row">
                        @foreach (var movie in Model.Movies)
                        {
                            <div class="col-md-3 mb-3">
                                <div class="card shadow-sm">
                                    <img height="414" class="card-img-top" src="@Url.Content($"~/Uploads/Img/{movie.Image}")" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title mb-3">
                                            @movie.Title
                                            (@movie.ReleaseDate.Year)
                                        </h5>
                                        <p class="card-text">
                                            <i class="fa fa-star text-warning"></i>
                                            @movie.ImdbRate
                                        </p>

                                    </div>
                                    <div class="card-footer">
                                        <button movieId="@movie.Id" type="button" class="btnAddShoppingCart btn btn-sm btn-outline-danger float-left" data-toggle="tooltip" data-placement="top" title="Sepete ekle">
                                            <i class="fa fa-shopping-cart"></i>
                                            Ekle
                                        </button>
                                        <button movieId="@movie.Id" type="button" class="btnMovieDetails btn btn-sm btn-outline-danger float-right" data-toggle="tooltip" data-placement="top" title="Film ayrıntıları">
                                            <i class="fa fa-eye"></i>
                                            Detay
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-footer">
                    pagination
                </div>
            </div>
        </div>
    </div>
</div>

@section style{
    <style>
        .card img {
            object-fit: cover;
            height: 414px;
        }
    </style>
}

@section script{
    <script>       

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#movie-latestMovies').toggleClass('active');

        });
    </script>
}

