@model OzlemBilgisayar.MvcWebUI.Areas.AdminPanel.Models.UserModels.UserDetailsVm
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <!-- Widget -->
            <div class="widget">
                <div class="widget-simple">
                    <a href="@Url.Action("Index","User",new { area="AdminPanel"})" class="widget-icon pull-left animation-fadeIn themed-background">
                        <i class="fa fa-arrow-left"></i>
                    </a> 
                    <a href="javascript:void(0)" class="widget-icon pull-right animation-fadeIn themed-background">
                        <i class="gi gi-user"></i>
                    </a>
                    <h4 class="widget-content text-center animation-hatch">
                        <strong>Kullanıcı Detayları</strong>
                        <small>@Model.FirstName @Model.LastName</small>
                    </h4>
                </div>
            </div>
            <!-- END Widget -->
        </div>
        <div class="col-lg-4">
            <div class="block">
                <!-- Customer Info Title -->
                <div class="block-title">
                    <h2><i class="fa fa-user-circle-o"></i> <strong>Üye</strong> Bilgileri</h2>
                </div>
                <!-- END Customer Info Title -->
                <!-- Customer Info -->
                <div class="block-section text-center">
                    <a href="javascript:void(0)">
                        <img src="@Url.Content($"~/Uploads/Img/{Model.Image}")" width="100" alt="avatar" class="img-circle">
                    </a>
                    <h3>
                        <strong>@Model.FirstName @Model.LastName</strong><br><small></small>
                    </h3>
                </div>
                <table class="table table-borderless table-striped table-vcenter">
                    <tbody>
                        <tr>
                            <td class="text-right" style="width: 50%;"><strong>E-Posta</strong></td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Üyelik Tarihi</strong></td>
                            <td>@Model.Created.ToLongDateString()</td>
                        </tr>

                        <tr>
                            <td class="text-right"><strong>Yetkileri</strong></td>
                            <td>
                                @foreach (var role in Model.Roles)
                                {
                                    <span class="label label-primary">@role</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Durum</strong></td>
                            <td>
                                @if (Model.IsActive)
                                {
                                    <span class="label label-success"><i class="fa fa-check"></i> Aktif</span>
                                }
                                else
                                {
                                    <span class="label label-danger"><i class="fa fa-check"></i> Pasif</span>
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END Customer Info -->
            </div>
        </div>
        <div class="col-lg-8">
            <div class="block">
                <!-- Orders Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <span class="label label-success"><strong>$ 2125,00</strong></span>
                    </div>
                    <h2><i class="fa fa-film"></i> <strong>Satın Aldığı Filmler</strong> (4)</h2>
                </div>
                <!-- END Orders Title -->
                <!-- Orders Content -->
                <table class="table table-bordered table-striped table-vcenter">
                    <tbody>
                        <tr>
                            <td class="text-center" style="width: 100px;"><a href="page_ecom_order_view.html"><strong>ORD.685199</strong></a></td>
                            <td class="hidden-xs" style="width: 15%;"><a href="javascript:void(0)">5 Products</a></td>
                            <td class="text-right hidden-xs" style="width: 10%;"><strong>$585,00</strong></td>
                            <td><span class="label label-warning">Processing</span></td>
                            <td class="hidden-xs">Paypal</td>
                            <td class="hidden-xs text-center">16/11/2014</td>
                            <td class="text-center" style="width: 70px;">
                                <div class="btn-group btn-group-xs">
                                    <a href="page_ecom_order_view.html" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="View"><i class="fa fa-eye"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"><a href="page_ecom_order_view.html"><strong>ORD.685198</strong></a></td>
                            <td class="hidden-xs"><a href="javascript:void(0)">2 Products</a></td>
                            <td class="text-right hidden-xs"><strong>$958,00</strong></td>
                            <td><span class="label label-info">For delivery</span></td>
                            <td class="hidden-xs">Credit Card</td>
                            <td class="hidden-xs text-center">03/10/2014</td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="page_ecom_order_view.html" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="View"><i class="fa fa-eye"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"><a href="page_ecom_order_view.html"><strong>ORD.685197</strong></a></td>
                            <td class="hidden-xs"><a href="javascript:void(0)">3 Products</a></td>
                            <td class="text-right hidden-xs"><strong>$318,00</strong></td>
                            <td><span class="label label-success">Delivered</span></td>
                            <td class="hidden-xs">Bank Wire</td>
                            <td class="hidden-xs text-center">17/06/2014</td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="page_ecom_order_view.html" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="View"><i class="fa fa-eye"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center"><a href="page_ecom_order_view.html"><strong>ORD.685196</strong></a></td>
                            <td class="hidden-xs"><a href="javascript:void(0)">6 Products</a></td>
                            <td class="text-right hidden-xs"><strong>$264,00</strong></td>
                            <td><span class="label label-success">Delivered</span></td>
                            <td class="hidden-xs">Paypal</td>
                            <td class="hidden-xs text-center">27/01/2014</td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="page_ecom_order_view.html" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="View"><i class="fa fa-eye"></i></a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END Orders Content -->
            </div>
        </div>
    </div>

@section styles{}

@section scripts{
    <script>
        $(function () {
            /*Activate Page Header*/
            $('.content-header #user-index').toggleClass('active');
            /* Initialize Bootstrap Datatables Integration */
            App.datatables();

            /* Initialize Datatables */
            $('#example-datatable').dataTable({
                order: [[ 3, "desc" ]],
                columnDefs: [{ orderable: false, targets: [0, 4, 5] }],
                pageLength: 10,
                lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']]
            });

            /* Add placeholder attribute to the search input */
            $('.dataTables_filter input').attr('placeholder', 'Ara...');
        });
    </script>
}

