@model OzlemBilgisayar.MvcWebUI.Areas.AdminPanel.Models.MovieModels.MovieIndexVm
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}


<div class="row text-center">
    <div class="col-sm-6 col-lg-3">
        <a href="@Url.Action("Create","Movie",new { Area="AdminPanel"})" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-success">
                <h4 class="widget-content-light"><strong>Film Ekle</strong></h4>
            </div>
            <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-plus"></i></span></div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-danger">
                <h4 class="widget-content-light"><strong>Kullanım Dışı Sayısı</strong></h4>
            </div>
            <div class="widget-extra-full">
                <span class="h2 text-danger animation-expandOpen">
                    @Model.Movies.Where(x => !x.IsActive).Count()
                </span>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-success">
                <h4 class="widget-content-light"><strong>Kullanılabilir Sayısı</strong></h4>
            </div>
            <div class="widget-extra-full">
                <span class="h2 text-success animation-expandOpen">
                    @Model.Movies.Where(x => x.IsActive).Count()
                </span>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3">
        <a href="javascript:void(0)" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>Toplam Kayıt Sayısı</strong></h4>
            </div>
            <div class="widget-extra-full">
                <span class="h2 themed-color-dark animation-expandOpen">
                    @Model.Movies.Count
                </span>
            </div>
        </a>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <h3>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
            </button>
            <i class="fa fa-check"></i> <strong>@TempData["Message"]</strong>
        </h3>
    </div>
}

<div class="block full">
    <div class="block-title">
        <h2><strong>Film Listesi</strong></h2>
    </div>

    <div class="table-responsive">
        <table id="example-datatable" class="table table-vcenter table-condensed table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        <i class="gi gi-picture"></i>
                    </th>
                    <th class="text-center">Fİlm Adı</th>
                    <th>Çıkış Tarihi</th>
                    <th>Oluşturma Tarihi</th>
                    <th class="text-center">Durum</th>
                    <th class="text-center">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td class="text-center">
                            @if (string.IsNullOrEmpty(movie.Image))
                            {
                                <img src="~/ThemeFiles/Admin/img/placeholders/avatars/avatar.jpg" alt="avatar" class="img-thumbnail">
                            }
                            else
                            {
                                <img src="~/Uploads/Img/@movie.Image" alt="avatar" class="img-thumbnail" width="50">
                            }
                        </td>
                        <td class="text-center">@movie.Title</td>
                        <td>@movie.ReleaseDate.ToShortDateString()</td>
                        <td>@movie.Created.ToShortDateString()</td>
                        <td class="text-center">
                            @if (movie.IsActive)
                            {
                                <span class="label label-success"><strong>Kullanımda</strong></span>
                            }
                            else
                            {
                                <span class="label label-danger"><strong>Kullanım Dışı</strong></span>
                            }
                        </td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="@Url.Action("Edit","Movie",new { id=movie.Id,Area="AdminPanel"})" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                <a href="@Url.Action("Delete","Movie",new { id=movie.Id,Area="AdminPanel"})" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                                <a href="@Url.Action("Details","Movie",new { id=movie.Id,Area="AdminPanel"})" data-toggle="tooltip" title="Details" class="btn btn-xs btn-info"><i class="fa fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

@section styles{}

@section scripts{
    <script>
        $(function () {
            /*Activate Page Header*/
            $('.content-header #movie-index').toggleClass('active');
            /* Initialize Bootstrap Datatables Integration */
            App.datatables();

            /* Initialize Datatables */
            $('#example-datatable').dataTable({
                order: [[ 3, "desc" ]],
                columnDefs: [{ orderable: false, targets: [0, 4, 5] }],
                pageLength: 10,
                lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']]
            });

            /* Add placeholder attribute to the search input */
            $('.dataTables_filter input').attr('placeholder', 'Ara...');
        });
    </script>
}



