@model int
<div class="content-header">
    <ul class="nav-horizontal text-center">
        <li id="home-dashboard">
            <a href="@Url.Action("Dashboard","Home",new { Area="AdminPanel"})"><i class="fa fa-home"></i> Yönetim Paneli</a>
        </li>
        <li id="category-index">
            <a href="@Url.Action("Index","Category",new { Area="AdminPanel"})"><i class="fa fa-bars"></i> Kategoriler</a>
        </li>
        <li id="movie-index">
            <a href="@Url.Action("Index","Movie",new { Area="AdminPanel"})"><i class="gi gi-video_hd"></i> Filmler</a>
        </li>

        <li id="user-index">
            <a href="@Url.Action("Index","User",new { Area="AdminPanel"})"><i class="fa fa-users"></i> Kullanıcılar</a>
        </li>
        <li id="account-userprofile">
            <a href="@Url.Action("UserProfile","Account",new { Area="AdminPanel",Id=Model})"><i class="fa fa-user"></i> Profilim</a>
        </li>
        <li id="order-index">
            <a href="@Url.Action("Index","Order",new { Area="AdminPanel"})"><i class="fa fa-shopping-cart"></i> Siparişler</a>
        </li>
    </ul>
</div>
